In [3]:
import os
import pandas as pd
from reportlab.pdfgen import canvas
from reportlab.platypus import BaseDocTemplate, SimpleDocTemplate, Paragraph, Spacer, Table, TableStyle
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.lib.pagesizes import letter, A4
from reportlab.lib.enums import TA_RIGHT, TA_CENTER
from reportlab.lib.units import inch
from reportlab.lib import colors
# import datetime
from datetime import timedelta, date
from base64 import b64decode, b64encode
from reportlab.pdfbase import pdfmetrics
from reportlab.pdfbase.ttfonts import TTFont
from decimal import Decimal
import os
from reportlab.pdfgen import canvas
from reportlab.platypus import BaseDocTemplate, SimpleDocTemplate, Paragraph, Spacer, Table, TableStyle
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.lib.pagesizes import letter, A4
from reportlab.lib.units import inch
from reportlab.lib import colors
from reportlab.lib.colors import HexColor
from main.temp_pdf_generate import generate_pdf_for_merging_temp_with_main
from reportlab.pdfbase import pdfmetrics
from reportlab.pdfbase.ttfonts import TTFont
from main.views import serve_product_and_session_list
from num2words import num2words
from PyPDF2 import PdfFileMerger

In [1]:
MonthlyAgentCommission.objects.filter(run__split=1, run__month=5).

<QuerySet [<MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, <MonthlyAgentCommission: MonthlyAgentCommission object>, '...(remaining elements truncated)...']>

In [25]:
from_date = '2020-05-01'
format_date = datetime.datetime.strptime(from_date,'%Y-%m-%d')
month = format_date.month
year = format_date.year
month

5

In [6]:
round(1.49)

1

In [4]:
global_config_obj = GlobalConfig.objects.all()
global_config_list = list(global_config_obj.values_list('id', 'name', 'value', 'description'))
global_config_column = ['id', 'name', 'value', 'description']
global_config_df = pd.DataFrame(global_config_list, columns=global_config_column)
global_config_df['value'].astype('float')
global_config_dict = global_config_df.groupby('name').apply(lambda x: x.to_dict('r')[0]).to_dict()
def find_out_tds_percentage(pan_number):
    if pan_number == None or pan_number == '':
        return 20
    else:
        return global_config_dict['tds']['value']

In [21]:
from_date = '2020-06-01'
to_date = '2020-06-30'
monthly_agent_obj = MonthlyAgentCommission.objects.filter(run__split=1, run__run_from=from_date, run__run_to=to_date)
monthly_agent_list = list(monthly_agent_obj.values_list('agent__agent_code','agent__user_profile__user__first_name', 'agent__pan_number',
'business__code', 'tm_cash_milk_sale','tm_card_milk_sale', 'sm_cash_milk_sale', 'sm_card_milk_sale',
'fcm_cash_milk_sale', 'fcm_card_milk_sale', 'can_milk_sale','total_cash_milk_sale',
'total_cash_milk_comm','total_card_milk_sale','total_card_milk_comm','gross_sale', 'gross_comm', 'tds_deduction',
                                      'insurance_deduction','slip_charge', 'gross_deduction', 'net_comm'))
monthly_agent_column = ['Agent Code', 'Agent Name', 'Pan No','BoothCodes', 'TM Cash Milk', 'TM Card Milk',
                        ' SM Cash Milk ', 'SM Card Milk', 'FCM CashMilk', 'FCM Card Milk',
                        'Can Milk Cash Milk', 'Total Cash Milk ','Cash Milk commission', 'Total Card Milk',
                        'Card Milk commission', 'Gross Value', 'GrossCommission', ' TDS deduction', 'Insurance Deduction',
                        'Slip charges', 'Gross Deduction', 'Net Commission']
# monthly_agent_list = list(
#         monthly_agent_obj.values_list( 'business__code', 'tm_card_milk_sale'))
# monthly_agent_column = ['Booth code','TM Card Milk']
monthly_agent_df = pd.DataFrame(monthly_agent_list,
columns=monthly_agent_column)
monthly_agent_df['TDS Percentage'] = monthly_agent_df.apply(lambda x: find_out_tds_percentage(x['Pan No']), axis=1)

monthly_agent_df.drop (['BoothCodes','TM Cash Milk','TM Card Milk',' SM Cash Milk ','SM Card Milk','FCM CashMilk','FCM Card Milk',
          'Can Milk Cash Milk','Total Cash Milk ','Cash Milk commission','Total Card Milk','Card Milk commission',
          'Gross Value','Insurance Deduction','Net Commission','Gross Deduction','Slip charges'],inplace = True,axis=1)
   

columns_titles = ['Agent Code','Agent Name','Pan No','GrossCommission','TDS Percentage',' TDS deduction']
monthly_agent_df = monthly_agent_df.reindex(columns=columns_titles)
monthly_agent_df['TDS Paid'] = monthly_agent_df[' TDS deduction']
monthly_agent_df.rename(columns = {'GrossCommission':'Total Earnings'}, inplace = True)
monthly_agent_df

,Agent Code,Agent Name,Pan No,Total Earnings,TDS Percentage,TDS deduction,TDS Paid
0,2992,M.PREMKUMAR,DDIPP1150A,6296.14,3.75,236.11,236.11
1,250b,ANANDAKUMAR.R.C - [250],AGDPA9700A,1562.72,3.75,58.60,58.60
2,1721b,DHANALAKSHIMI,AJTPD2558A,32515.48,3.75,1219.33,1219.33
3,1525b,NAGARAJ,ADYPN5402C,216.48,3.75,8.12,8.12
4,1031b,SATHIYASEELAN .S,ALUPM8817G,69224.91,3.75,2595.93,2595.93
...,...,...,...,...,...,...,...
638,33398,j.mariyal,AQAPM5607R,1164.07,3.75,43.65,43.65
639,33403,s.anuratha,AIIPA5209P,348.25,3.75,13.06,13.06
640,33388,J.ASAKPAUL,BIDPA1962K,290.77,3.75,10.90,10.90
641,33407,rajaboovathy,dvlpr1605h,372.44,3.75,13.97,13.97
642,33405,rajan .s.,AZFPR2294B,72.82,3.75,2.73,2.73