In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
from IPython.core.display import HTML

import pandas as pd
from decimal import Decimal

In [7]:
upload_dict_list = [
    {'business_code': '4272', 'change_to_business_type': 5, 'price_update': True },
    {'business_code': '54262', 'change_to_business_type': 5, 'price_update': False },
    {'business_code': '54268', 'change_to_business_type': 3, 'price_update': False },
     ]

In [8]:
def price_and_business_type_update_for_existing_business(upload_dict_list):
    for dic in upload_dict_list:
        business_obj = Business.objects.get(code=dic['business_code'])
        daily_businessly_obj = DailySessionllyBusinessllySale.objects.filter(business_id=business_obj.id)

        business_obj.business_type_id = dic['change_to_business_type']
        business_obj.save()
        daily_businessly_obj.update(business_type_id=dic['change_to_business_type'])
#         daily_businessly_obj.save()
        if dic['price_update'] == True:
            # price_pre_product
            business_wise_product_discount_list = list(BusinessWiseProductDiscount.objects.filter(business__code=dic['business_code']).values_list('business_id', 'product_id', 'discounted_price'))
            business_wise_product_discount_column = ['business_id', 'product_id', 'discounted_price']
            business_wise_product_discount_df = pd.DataFrame(business_wise_product_discount_list, columns=business_wise_product_discount_column)
            business_wise_product_discount_df = business_wise_product_discount_df.groupby(['business_id', 'product_id']).agg({'discounted_price':max})

            # convert_groupby_table_product_cost_row_wise_value_into_column(using_pandas_pivot_table)
            business_wise_product_discount_df = pd.pivot_table(business_wise_product_discount_df, index='business_id', columns='product_id', aggfunc=min, fill_value=0)

            #convert_pivot_table_to_normal_df
            business_wise_product_discount_df.columns = business_wise_product_discount_df.columns.droplevel(0) #remove amount
            business_wise_product_discount_df.columns.name = None  #remove categories
            business_wise_product_discount_df = business_wise_product_discount_df.reset_index() #index to columns

            #sosity product price dict
            business_wise_product_discount_df = business_wise_product_discount_df.groupby('business_id')
            business_wise_product_discount_dict = business_wise_product_discount_df.apply(lambda x:x.to_dict('r')[0]).to_dict() 

            print(business_wise_product_discount_dict)

            #sale and salegroup price update
            sale_group_obj = SaleGroup.objects.filter(business__code=dic['business_code'])
            sale_obj = Sale.objects.filter(sale_group_id__in=sale_group_obj)
            for sale_group in sale_group_obj:
                sale_group_total_cost = 0
                sale_group_sale = sale_obj.filter(sale_group_id=sale_group.id)
                for sale in sale_group_sale:
                    if sale.cost == 0 and sale.count == 0:
                        print('hi')
                        product_cost = 0
                    else:
                        product_cost = round(Decimal(float(sale.cost)/sale.count),2)
                        sale_wise_product_cost = round(business_wise_product_discount_dict[sale_group.business_id][sale.product_id], 2)
                        if product_cost != sale_wise_product_cost:
                            print(sale.id, product_cost, sale_wise_product_cost, sale_group.date)
                            temp_sale_cost = round(sale_wise_product_cost * Decimal(sale.count),2)
                            sale.cost = temp_sale_cost
                            sale.save()

                            sale_group_total_cost += temp_sale_cost
                sale_group.total_cost = sale_group_total_cost
                sale_group.product_amount = sale_group_total_cost
                sale_group.save()

            # dailysessionlybusinessly socity data upload
            daily_businessly_obj = DailySessionllyBusinessllySale.objects.filter(business__code=dic['business_code'], sold_to='Agent')
            for i in daily_businessly_obj:
                milk_cost = 0
                curd_cost = 0
                frg_cost = 0
                total_cost = 0

                fcm_cost = 0
                sm_cost = 0
                tm_cost = 0

                print(i.tm500_cost, i.std250_cost, i.std500_cost, i.fcm500_cost, i.fcm1000_cost, i.curd500_cost, i.curd150_cost, i.cupcurd_cost,   i.milk_cost,  i.curd_cost, i.total_cost)     
                #milk
                #tm 
                if i.tm500_pkt != 0:
                    cost = i.tm500_pkt * business_wise_product_discount_dict[i.business_id][1]
                    i.tm500_cost = cost
                    milk_cost += cost
                    tm_cost += cost

                #std
                if i.std250_pkt != 0:
                    cost = i.std250_pkt * business_wise_product_discount_dict[i.business_id][3]
                    i.std250_cost = cost
                    milk_cost += cost
                    sm_cost += cost

                if i.std500_pkt != 0:
                    cost = i.std500_pkt * business_wise_product_discount_dict[i.business_id][2]
                    i.std500_cost = cost
                    milk_cost += cost
                    sm_cost += cost

                #fcm
                if i.fcm500_pkt != 0:
                    cost = i.fcm500_pkt * business_wise_product_discount_dict[i.business_id][4]
                    i.fcm500_cost = cost
                    milk_cost += cost
                    fcm_cost += cost

                if i.fcm1000_pkt != 0:
                    cost = i.fcm1000_pkt * business_wise_product_discount_dict[i.business_id][6]
                    i.fcm1000_cost = cost
                    milk_cost += cost
                    fcm_cost += cost

                #curd 
                if i.curd500_pkt != 0:
                    cost = i.curd500_pkt * business_wise_product_discount_dict[i.business_id][25]
                    i.curd500_cost = cost
                    curd_cost += cost

                if i.curd150_pkt != 0:
                    cost = i.curd150_pkt * business_wise_product_discount_dict[i.business_id][7]
                    i.curd150_cost = cost
                    curd_cost += cost

                if i.cupcurd_count != 0:
                    if business_wise_product_discount_dict[i.business_id][10] != 0:
                        cost = i.cupcurd_count * business_wise_product_discount_dict[i.business_id][10]
                        i.cupcurd_cost = cost
                        curd_cost += cost

                #butter_milk
                if i.buttermilk200_pkt != 0:
                    if business_wise_product_discount_dict[i.business_id][8] != 0:
                        cost = i.buttermilk200_pkt * business_wise_product_discount_dict[i.business_id][8]
                        i.buttermilk200_cost = cost
                        frg_cost += cost

                i.fcm_cost = fcm_cost
                i.sm_cost = sm_cost
                i.tm_cost = tm_cost

                i.milk_cost = milk_cost
                i.curd_cost = curd_cost 
                i.fermented_products_cost = frg_cost + i.lassi_cost + curd_cost
                i.total_cost = i.milk_cost + i.fermented_products_cost

                i.save()
                print(i.tm500_cost, i.std250_cost, i.std500_cost, i.fcm500_cost, i.fcm1000_cost, i.curd500_cost, i.curd150_cost, i.cupcurd_cost,   i.milk_cost,  i.curd_cost, i.total_cost, i.id)      
                print()

In [10]:
price_and_business_type_update_for_existing_business(upload_dict_list)

{2779: {'business_id': 2779, 1: Decimal('21.50'), 2: Decimal('23.50'), 3: Decimal('12.00'), 4: Decimal('25.50'), 6: Decimal('51.00'), 7: Decimal('10.00'), 8: Decimal('0.00'), 10: Decimal('12.00'), 23: Decimal('49.00'), 25: Decimal('29.00')}}
1465265 1.00 23.50 2020-09-29
1481346 1.00 23.50 2020-10-05
1494156 1.00 23.50 2020-10-09
1516089 1.00 23.50 2020-10-16
1537917 1.00 23.50 2020-10-24
1577680 1.00 23.50 2020-11-06
1589631 1.00 23.50 2020-11-10
1617505 1.00 23.50 2020-11-20
1627707 1.00 23.50 2020-11-24
1662557 1.00 23.50 2020-12-05
1677357 1.00 23.50 2020-12-10
1696238 1.00 23.50 2020-12-17
1710568 1.00 23.50 2020-12-22
1811568 1.00 23.50 2021-01-25
1873177 1.00 23.50 2021-02-13
1888473 1.00 23.50 2021-02-18
hi
hi
0.00 0.00 20.00 0.00 0.00 580.00 0.00 0.00 20.00 580.00 600.00
0.00 0.00 470.00 0.00 0.00 580.00 0.00 0.00 470.00 580.00 1050.00 757486

0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00
0.00 0.00 0.00 0.00 0.00 0.00 0.00 0.00 0 0 0.00 628321

0.00 0.00 30.00 0.00 0.00 870.00 0.00 0.00 30.00 870.00 900.00
0.00 0.00 705.00 0.00 0.00 870.00 0.00 0.00 705.00 870.00 1575.00 708393

0.00 0.00 40.00 0.00 0.00 1160.00 0.00 0.00 40.00 1160.00 1200.00
0.00 0.00 940.00 0.00 0.00 1160.00 0.00 0.00 940.00 1160.00 2100.00 662260

0.00 0.00 20.00 0.00 0.00 580.00 0.00 0.00 20.00 580.00 600.00
0.00 0.00 470.00 0.00 0.00 580.00 0.00 0.00 470.00 580.00 1050.00 865038

0.00 0.00 40.00 0.00 0.00 1160.00 0.00 0.00 40.00 1160.00 1200.00
0.00 0.00 940.00 0.00 0.00 1160.00 0.00 0.00 940.00 1160.00 2100.00 684381

0.00 0.00 40.00 0.00 0.00 1160.00 0.00 0.00 40.00 1160.00 1200.00
0.00 0.00 940.00 0.00 0.00 1160.00 0.00 0.00 940.00 1160.00 2100.00 631334

0.00 0.00 40.00 0.00 0.00 1160.00 0.00 0.00 40.00 1160.00 1200.00
0.00 0.00 940.00 0.00 0.00 1160.00 0.00 0.00 940.00 1160.00 2100.00 649062

0.00 0.00 20.00 0.00 0.00 580.00 0.00 0.00 20.00 580.00 600.00
0.00 0.00 470.00 0.00 0.00 580.00 0.00 0.00 470.00 580.00 1050.00 881912

0.00 0.00 32.00 0.00 0.00 928.00 0.00 0.00 32.00 928.00 960.00
0.00 0.00 752.00 0.00 0.00 928.00 0.00 0.00 752.00 928.00 1680.00 816244

0.00 0.00 20.00 0.00 0.00 580.00 0.00 0.00 20.00 580.00 600.00
0.00 0.00 470.00 0.00 0.00 580.00 0.00 0.00 470.00 580.00 1050.00 907023

0.00 0.00 20.00 0.00 0.00 580.00 0.00 0.00 20.00 580.00 600.00
0.00 0.00 470.00 0.00 0.00 580.00 0.00 0.00 470.00 580.00 1050.00 848168

0.00 0.00 20.00 0.00 0.00 580.00 0.00 0.00 20.00 580.00 600.00
0.00 0.00 470.00 0.00 0.00 580.00 0.00 0.00 470.00 580.00 1050.00 924031

0.00 0.00 40.00 0.00 0.00 1160.00 0.00 0.00 40.00 1160.00 1200.00
0.00 0.00 940.00 0.00 0.00 1160.00 0.00 0.00 940.00 1160.00 2100.00 1036517

0.00 0.00 20.00 0.00 0.00 580.00 0.00 0.00 20.00 580.00 600.00
0.00 0.00 470.00 0.00 0.00 580.00 0.00 0.00 470.00 580.00 1050.00 1104225

0.00 0.00 20.00 0.00 0.00 580.00 0.00 0.00 20.00 580.00 600.00
0.00 0.00 470.00 0.00 0.00 580.00 0.00 0.00 470.00 580.00 1050.00 1120926

0.00 0.00 20.00 0.00 0.00 580.00 0.00 0.00 20.00 580.00 600.00
0.00 0.00 470.00 0.00 0.00 580.00 0.00 0.00 470.00 580.00 1050.00 803987

In [25]:
column = ['a', 'b', 'c']
value = []
df = pd.DataFrame(value, columns=column, index=['null'])

In [27]:
df.drop('null')

Empty DataFrame
Columns: [a, b, c]
Index: []

In [11]:
df

0