In [2]:
import pandas as pd
from decimal import Decimal
from datetime import timedelta, date
# from datetime import datetime
import datetime
import dateutil.relativedelta
from base64 import b64encode, b64decode
#  Plivo credentials
# import plivo
from random import randint
from base64 import b64decode, b64encode
from django.core.files.base import ContentFile
from django.db.models import Sum, Max
from pytz import timezone
from django.db.models import Sum
from calendar import monthrange, month_name

# canvas
import os
from reportlab.pdfgen import canvas
from reportlab.platypus import BaseDocTemplate, SimpleDocTemplate, Paragraph, Spacer, Table, TableStyle
from reportlab.lib.styles import getSampleStyleSheet
from reportlab.lib.pagesizes import letter, A4
from reportlab.lib.units import inch
from reportlab.lib import colors
from reportlab.lib.colors import HexColor
from main.temp_pdf_generate import generate_pdf_for_merging_temp_with_main
from reportlab.pdfbase import pdfmetrics
from reportlab.pdfbase.ttfonts import TTFont

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
from IPython.core.display import HTML

### Total counter sale for date

In [18]:
counter_id = 9
date = '2020-12-11'

if counter_id == 'online':
    ws_sale_group_obj = SaleGroup.objects.filter(date=date, ordered_via_id__in=[1, 3],
                                                 business__business_type_id=9).order_by('id')
    ns_sale_group_obj = SaleGroup.objects.filter(date=date, ordered_via_id__in=[1, 3]).exclude(
        business__business_type_id=9).order_by('id')       
    counter_name = 'Online'
else:
    employee_trace_ids = list(
        CounterEmployeeTraceMap.objects.filter(counter_id=counter_id, collection_date='2020-12-10', counteremployeetracesalegroupmap__sale_group__date=date).values_list('id',
                                                                                                           flat=True))
    employee_trace_sale_group_obj = list(
        CounterEmployeeTraceSaleGroupMap.objects.filter(
            counter_employee_trace_id__in=employee_trace_ids).values_list(
            'sale_group', flat=True))
    ws_sale_group_obj = SaleGroup.objects.filter(id__in=employee_trace_sale_group_obj,
                                                 business__business_type_id=9).order_by('id')
    ns_sale_group_obj = SaleGroup.objects.filter(id__in=employee_trace_sale_group_obj).exclude(
        business__business_type_id=9).order_by('id')
    counter_name = Counter.objects.get(id=counter_id).name


ws_sale_obj = Sale.objects.filter(sale_group_id__in=ws_sale_group_obj, product__is_active=True).order_by(
    'sale_group_id')
ns_sale_obj = Sale.objects.filter(sale_group_id__in=ns_sale_group_obj, product__is_active=True).order_by(
    'sale_group_id')

products = Product.objects.filter(is_active=True).order_by('display_ordinal')

zone_dict = {}
for zone in Zone.objects.all().exclude(id__in=[11,12,13,15]):
    if zone.name not in zone_dict:
        zone_dict[zone.name] = {
            "amount":0,
            "order_count":[],
        }
if counter_id != 'online':
    for sale_group in ws_sale_group_obj:
        if sale_group.zone.name in zone_dict:
            zone_dict[sale_group.zone.name]['order_count'].append(sale_group.business_id)
            zone_dict[sale_group.zone.name]['amount'] += sale_group.total_cost
            
total_count = 0
for sale_group in ns_sale_group_obj:
    if sale_group.zone.name in zone_dict:
        zone_dict[sale_group.zone.name]['order_count'].append(sale_group.business_id)
        zone_dict[sale_group.zone.name]['amount'] += sale_group.total_cost
        total_count += sale_group.total_cost
print(zone_dict)
print(total_count)


if counter_id == "online":
    data_dict ={
        "counter_details": {
            "counter_id": counter_id,
            "counter_name": counter_name,
            "employee_name": [],
            "date": date
        },
        "cash":{
            "grand_total": 0,
            "booth_sale": {},
            "product_total_count": {}
        },
        "cridet":{
            "grand_total": 0,
            "booth_sale": {},
            "product_total_count": {}
        }
    }
else:
    data_dict = {
        "grand_total": 0,
        "counter_details": {
            "counter_id": counter_id,
            "counter_name": counter_name,
            "employee_name": [],
            "date": date
        },
        "booth_sale": {},
        "product_total_count": {}
    }
if counter_id == 'online':
    data_dict["counter_details"]["employee_name"].append('-')
else:
    for employee_trace_id in employee_trace_ids:
        employee_name = CounterEmployeeTraceMap.objects.get(
            id=employee_trace_id).employee.user_profile.user.first_name
        data_dict["counter_details"]["employee_name"].append(employee_name)

if counter_id == 'online':
    for product in products:
        if not product.id in data_dict["cash"]["product_total_count"]:
            data_dict["cash"]["product_total_count"][product.id] = {
                "count": 0,
                "ns_litre": 0,
                "ns_cost": 0,
                "ns_count": 0,
                "ws_litre": 0,
                "ws_cost": 0,
                "ws_count": 0,
                "total_liter": 0
            }
        if not product.id in data_dict["cridet"]["product_total_count"]:
            data_dict["cridet"]["product_total_count"][product.id] = {
                "count": 0,
                "ns_litre": 0,
                "ns_cost": 0,
                "ns_count": 0,
                "ws_litre": 0,
                "ws_cost": 0,
                "ws_count": 0,
                "total_liter": 0
            }
else:
    for product in products:
        if not product.id in data_dict["product_total_count"]:
                data_dict["product_total_count"][product.id] = {
                    "count": 0,
                    "ns_litre": 0,
                    "ns_cost": 0,
                    "ns_count": 0,
                    "ws_litre": 0,
                    "ws_cost": 0,
                    "ws_count": 0,
                    "total_liter": 0
                }

for ns in ns_sale_group_obj:
    if counter_id == "online":
        ns_sale = Sale.objects.filter(sale_group_id=ns.id, product__is_active=True)
        if ns.business.business_type_id == 1 or ns.business.business_type_id == 2:
            time = ns.time_created
            time_now = time.astimezone(timezone('Asia/Kolkata'))
            time_created = time_now.strftime("%I:%M")
            if not ns.business.code in data_dict["cash"]["booth_sale"]:
                data_dict["cash"]["booth_sale"][ns.business.code] = {
                    "date":ns.date.strftime("%d-%b"),
                    "time": time_created,
                    "zone": ns.business.zone.name,
                    "agent_name": str(BusinessAgentMap.objects.get(
                        business_id=ns.business.id).agent.first_name + " "+ BusinessAgentMap.objects.get(
                        business_id=ns.business.id).agent.last_name)[:5],
                    "product_total_cost": 0,
                    "ns": {},
                    "ws": {}
                }
        else:
            time = ns.time_created
            time_now = time.astimezone(timezone('Asia/Kolkata'))
            time_created = time_now.strftime("%I:%M")
            if not ns.business.code in data_dict["cridet"]["booth_sale"]:
                data_dict["cridet"]["booth_sale"][ns.business.code] = {
                    "date":ns.date.strftime("%d-%b"),
                    "time": time_created,
                    "zone": ns.business.zone.name,
                    "agent_name": str(BusinessAgentMap.objects.get(business_id=ns.business.id).agent.first_name+" "+BusinessAgentMap.objects.get(business_id=ns.business.id).agent.last_name)[:6],
                    "product_total_cost": 0,
                    "ns": {},
                    "ws": {}
                }

        for sale in ns_sale:
            if sale.sale_group.business.business_type_id == 1 or sale.sale_group.business.business_type_id == 2:
                for product in products:
                    if not product.id in data_dict["cash"]["booth_sale"][ns.business.code]["ns"]:
                        data_dict["cash"]["booth_sale"][ns.business.code]["ns"][product.id] = {
                            "count": 0,
                            "cost": 0
                        }

                data_dict["cash"]["booth_sale"][ns.business.code]["ns"][sale.product_id]["count"] += sale.count
                data_dict["cash"]["booth_sale"][ns.business.code]["ns"][sale.product_id]["cost"] += sale.cost
                data_dict["cash"]["booth_sale"][ns.business.code]["product_total_cost"] += sale.cost

                data_dict["cash"]["product_total_count"][sale.product_id]["count"] += sale.count
                data_dict["cash"]["product_total_count"][sale.product_id]["ns_count"] += sale.count
                data_dict["cash"]["product_total_count"][sale.product_id]["ns_litre"] += sale.count * float(
                    sale.product.quantity / 1000)
                data_dict["cash"]["product_total_count"][sale.product_id]["ns_cost"] += sale.cost
                data_dict["cash"]["product_total_count"][sale.product_id]["total_liter"] += sale.count * float(
                    sale.product.quantity / 1000)

                data_dict["cash"]["grand_total"] += sale.cost
            else:
                for product in products:
                    if not product.id in data_dict["cridet"]["booth_sale"][ns.business.code]["ns"]:
                        data_dict["cridet"]["booth_sale"][ns.business.code]["ns"][product.id] = {
                            "count": 0,
                            "cost": 0
                        }

                data_dict["cridet"]["booth_sale"][ns.business.code]["ns"][sale.product_id]["count"] += sale.count
                data_dict["cridet"]["booth_sale"][ns.business.code]["ns"][sale.product_id]["cost"] += sale.cost
                data_dict["cridet"]["booth_sale"][ns.business.code]["product_total_cost"] += sale.cost

                data_dict["cridet"]["product_total_count"][sale.product_id]["count"] += sale.count
                data_dict["cridet"]["product_total_count"][sale.product_id]["ns_count"] += sale.count
                data_dict["cridet"]["product_total_count"][sale.product_id]["ns_litre"] += sale.count * float(
                    sale.product.quantity / 1000)
                data_dict["cridet"]["product_total_count"][sale.product_id]["ns_cost"] += sale.cost
                data_dict["cridet"]["product_total_count"][sale.product_id]["total_liter"] += sale.count * float(
                    sale.product.quantity / 1000)

                data_dict["cridet"]["grand_total"] += sale.cost

    else:
        ns_sale = Sale.objects.filter(sale_group_id=ns.id, product__is_active=True)
        time = ns.time_created
        time_now = time.astimezone(timezone('Asia/Kolkata'))
        time_created = time_now.strftime("%I:%M")
        if not ns.business.code in data_dict["booth_sale"]:
            data_dict["booth_sale"][ns.business.code] = {
                "date":ns.date.strftime("%d-%b"),
                "time": time_created,
                "zone": ns.business.zone.name,
                "agent_name":str(BusinessAgentMap.objects.get(business_id=ns.business.id).agent.first_name + " " + BusinessAgentMap.objects.get(business_id=ns.business.id).agent.last_name)[:5],
                "product_total_cost": 0,
                "ns": {},
                "ws": {}
            }

        for sale in ns_sale:
            for product in products:
                if not product.id in data_dict["booth_sale"][ns.business.code]["ns"]:
                    data_dict["booth_sale"][ns.business.code]["ns"][product.id] = {
                        "count": 0,
                        "cost": 0
                    }

            data_dict["booth_sale"][ns.business.code]["ns"][sale.product_id]["count"] += sale.count
            data_dict["booth_sale"][ns.business.code]["ns"][sale.product_id]["cost"] += sale.cost
            data_dict["booth_sale"][ns.business.code]["product_total_cost"] += sale.cost

            data_dict["product_total_count"][sale.product_id]["count"] += sale.count
            data_dict["product_total_count"][sale.product_id]["ns_count"] += sale.count
            data_dict["product_total_count"][sale.product_id]["ns_litre"] += sale.count * float(
                sale.product.quantity / 1000)
            data_dict["product_total_count"][sale.product_id]["ns_cost"] += sale.cost
            data_dict["product_total_count"][sale.product_id]["total_liter"] += sale.count * float(
                sale.product.quantity / 1000)

            data_dict["grand_total"] += sale.cost

for ws in ws_sale_group_obj:
    if counter_id == "online":
        ws_sale = Sale.objects.filter(sale_group_id=ws.id, product__is_active=True)
        if ws.business.business_type_id == 1 or ws.business.business_type_id == 2 or ws.business.business_type_id == 9 :
            time = ws.time_created
            time_now = time.astimezone(timezone('Asia/Kolkata'))
            time_created = time_now.strftime("%I:%M")
            if not ws.business.code in data_dict["cash"]["booth_sale"]:
                data_dict["cash"]["booth_sale"][ws.business.code] = {
                    "date":ws.date.strftime("%d-%b"),
                    "time": time_created,
                    "zone": ws.business.zone.name,
                    "agent_name": str(BusinessAgentMap.objects.get(business_id=ws.business.id).agent.first_name + " " + BusinessAgentMap.objects.get(business_id=ws.business.id).agent.last_name)[:5],
                    "product_total_cost": 0,
                    "ns": {},
                    "ws": {}
                }
        else:
            time = ws.time_created
            time_now = time.astimezone(timezone('Asia/Kolkata'))
            time_created = time_now.strftime("%I:%M")
            if not ws.business.code in data_dict["cridet"]["booth_sale"]:
                data_dict["cridet"]["booth_sale"][ws.business.code] = {
                    "date":ws.date.strftime("%d-%b"),
                    "time": time_created,
                    "zone": ws.business.zone.name,
                    "agent_name": str(BusinessAgentMap.objects.get(business_id=ws.business.id).agent.first_name + " " + BusinessAgentMap.objects.get(business_id=ws.business.id).agent.last_name)[:5],
                    "product_total_cost": 0,
                    "ns": {},
                    "ws": {}
                }

        for sale in ws_sale:
            if sale.sale_group.business.business_type_id == 1 or sale.sale_group.business.business_type_id == 2 or ws.business.business_type_id == 9 :
                for product in products:
                    if not product.id in data_dict["cash"]["booth_sale"][ws.business.code]["ws"]:
                        data_dict["cash"]["booth_sale"][ws.business.code]["ws"][product.id] = {
                            "count": 0,
                            "cost": 0
                        }

                data_dict["cash"]["booth_sale"][ws.business.code]["ws"][sale.product_id]["count"] += sale.count
                data_dict["cash"]["booth_sale"][ws.business.code]["ws"][sale.product_id]["cost"] += sale.cost
                data_dict["cash"]["booth_sale"][ws.business.code]["product_total_cost"] += sale.cost

                data_dict["cash"]["product_total_count"][sale.product_id]["count"] += sale.count
                data_dict["cash"]["product_total_count"][sale.product_id]["ws_count"] += sale.count
                data_dict["cash"]["product_total_count"][sale.product_id]["ws_litre"] += sale.count * float(
                    sale.product.quantity / 1000)
                data_dict["cash"]["product_total_count"][sale.product_id]["ws_cost"] += sale.cost
                data_dict["cash"]["product_total_count"][sale.product_id]["total_liter"] += sale.count * float(
                    sale.product.quantity / 1000)

                data_dict["cash"]["grand_total"] += sale.cost
#             else:
#                 for product in products:
#                     if not product.id in data_dict["cridet"]["booth_sale"][ws.business.code]["ws"]:
#                         data_dict["cridet"]["booth_sale"][ws.business.code]["ws"][product.id] = {
#                             "count": 0,
#                             "cost": 0
#                         }

#                 data_dict["cridet"]["booth_sale"][ws.business.code]["ws"][sale.product_id]["count"] += sale.count
#                 data_dict["cridet"]["booth_sale"][ws.business.code]["ws"][sale.product_id]["cost"] += sale.cost
#                 data_dict["cridet"]["booth_sale"][ws.business.code]["product_total_cost"] += sale.cost

#                 data_dict["cridet"]["product_total_count"][sale.product_id]["count"] += sale.count
#                 data_dict["cridet"]["product_total_count"][sale.product_id]["ws_count"] += sale.count
#                 data_dict["cridet"]["product_total_count"][sale.product_id]["ws_litre"] += sale.count * float(
#                     sale.product.quantity / 1000)
#                 data_dict["cridet"]["product_total_count"][sale.product_id]["ws_cost"] += sale.cost
#                 data_dict["cridet"]["product_total_count"][sale.product_id]["total_liter"] += sale.count * float(
#                     sale.product.quantity / 1000)

#                 data_dict["cridet"]["grand_total"] += sale.cost


    else:
        ws_sale = Sale.objects.filter(sale_group_id=ws.id, product__is_active=True)
        time = ws.time_created
        time_now = time.astimezone(timezone('Asia/Kolkata'))
        time_created = time_now.strftime("%I:%M")
        if not ws.business.code in data_dict["booth_sale"]:
            data_dict["booth_sale"][ws.business.code] = {
                "date":ws.date.strftime("%d-%b"),
                "time": time_created,
                "zone": ws.business.zone.name,
                "agent_name": str(BusinessAgentMap.objects.get(business_id=ws.business.id).agent.first_name + " " + BusinessAgentMap.objects.get(business_id=ws.business.id).agent.last_name)[:5],
                "product_total_cost": 0,
                "ns": {},
                "ws": {}
            } 


        for sale in ws_sale:
            for product in products:
                if not product.id in data_dict["booth_sale"][ws.business.code]["ws"]:
                    data_dict["booth_sale"][ws.business.code]["ws"][product.id] = {
                        "count": 0,
                        "cost": 0
                    }

            data_dict["booth_sale"][ws.business.code]["ws"][sale.product_id]["count"] += sale.count
            data_dict["booth_sale"][ws.business.code]["ws"][sale.product_id]["cost"] += sale.cost
            data_dict["booth_sale"][ws.business.code]["product_total_cost"] += sale.cost

            data_dict["product_total_count"][sale.product_id]["count"] += sale.count
            data_dict["product_total_count"][sale.product_id]["ws_count"] += sale.count
            data_dict["product_total_count"][sale.product_id]["ws_litre"] += sale.count * float(
                sale.product.quantity / 1000)
            data_dict["product_total_count"][sale.product_id]["ws_cost"] += sale.cost
            data_dict["product_total_count"][sale.product_id]["total_liter"] += sale.count * float(
                sale.product.quantity / 1000)

            data_dict["grand_total"] += sale.cost

# data_dict['user_name'] = user_name
#     data = generate_sale_pdf_for_agent_order(data_dict, date,zone_dict)
data_dict

{'EAST': {'amount': 0, 'order_count': []}, 'WEST': {'amount': Decimal('3420.00'), 'order_count': [2766]}, 'SOUTH': {'amount': 0, 'order_count': []}, 'POLLACHI': {'amount': 0, 'order_count': []}, 'NORTH': {'amount': 0, 'order_count': []}, 'MTP': {'amount': Decimal('417125.00'), 'order_count': [2513, 2831, 2473, 2458, 2585, 2461, 2471, 2475, 2483, 2483, 2492, 2771, 2516, 2444, 2444, 2586, 2477, 2520, 2439, 2504, 2504, 2448, 2448, 2508, 2466, 2514, 2443, 2501, 2511, 2511, 2698, 2451, 2451, 2440, 2438, 2472, 2472, 2704, 2509, 2496, 2505, 2463, 2474, 2474, 2522, 2522, 2494, 2494, 2478, 2500, 2453, 2453, 2498, 2468, 2468, 2447, 2519, 2454, 2744, 2490, 2584, 2584, 2450, 2450, 2699, 2699, 2605, 2605, 2445, 2445, 2467, 2467]}, 'CURD Zone': {'amount': 0, 'order_count': []}}
417125.00

{'grand_total': Decimal('420545.00'),
 'counter_details': {'counter_id': 9,
  'counter_name': 'Mettupaalayam',
  'employee_name': ['Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy',
   'Thirumoorthy'],
  'date': '2020-12-11'},
 'booth_sale': {'2371': {'date': '11-Dec',
   'time': '11:46',
   'zone': 'MTP',
   'agent_name': 'V NAV',
   'product_total_cost': Decimal('1920.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 24.0, 'cost': Decimal('564.00')},
    3: {'count': 28.0, 'cost': Decimal('336.00')},
    4: {'count': 40.0, 'cost': Decimal('1020.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2796': {'date': '11-Dec',
   'time': '11:47',
   'zone': 'MTP',
   'agent_name': 'KALA.',
   'product_total_cost': Decimal('925.50'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 3.0, 'cost': Decimal('70.50')},
    3: {'count': 50.0, 'cost': Decimal('600.00')},
    4: {'count': 10.0, 'cost': Decimal('255.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '1139': {'date': '11-Dec',
   'time': '11:48',
   'zone': 'MTP',
   'agent_name': 'ARUTH',
   'product_total_cost': Decimal('1375.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 10.0, 'cost': Decimal('235.00')},
    3: {'count': 10.0, 'cost': Decimal('120.00')},
    4: {'count': 40.0, 'cost': Decimal('1020.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '1105': {'date': '11-Dec',
   'time': '11:58',
   'zone': 'MTP',
   'agent_name': 'R.Dha',
   'product_total_cost': Decimal('8628.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 24.0, 'cost': Decimal('564.00')},
    3: {'count': 264.0, 'cost': Decimal('3168.00')},
    4: {'count': 192.0, 'cost': Decimal('4896.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2584': {'date': '11-Dec',
   'time': '12:28',
   'zone': 'MTP',
   'agent_name': 'Jayab',
   'product_total_cost': Decimal('2964.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 24.0, 'cost': Decimal('564.00')},
    3: {'count': 180.0, 'cost': Decimal('2160.00')},
    4: {'count': 0, 'cost': 0},
    6: {'count': 0, 'cost': 0},
    7: {'count': 30.0, 'cost': Decimal('240.00')},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '1109': {'date': '11-Dec',
   'time': '12:29',
   'zone': 'MTP',
   'agent_name': 'ASRAF',
   'product_total_cost': Decimal('2893.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 0, 'cost': 0},
    3: {'count': 10.0, 'cost': Decimal('120.00')},
    4: {'count': 96.0, 'cost': Decimal('2448.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 10.0, 'cost': Decimal('80.00')},
    25: {'count': 10.0, 'cost': Decimal('245.00')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '1136': {'date': '11-Dec',
   'time': '12:31',
   'zone': 'MTP',
   'agent_name': 'SMT.A',
   'product_total_cost': Decimal('1260.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 20.0, 'cost': Decimal('470.00')},
    3: {'count': 10.0, 'cost': Decimal('120.00')},
    4: {'count': 20.0, 'cost': Decimal('510.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 20.0, 'cost': Decimal('160.00')},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '1145': {'date': '11-Dec',
   'time': '12:41',
   'zone': 'MTP',
   'agent_name': 'R.Kul',
   'product_total_cost': Decimal('12817.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 72.0, 'cost': Decimal('1692.00')},
    3: {'count': 288.0, 'cost': Decimal('3456.00')},
    4: {'count': 288.0, 'cost': Decimal('7344.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 10.0, 'cost': Decimal('80.00')},
    25: {'count': 10.0, 'cost': Decimal('245.00')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '1154': {'date': '11-Dec',
   'time': '12:44',
   'zone': 'MTP',
   'agent_name': 'RAJAP',
   'product_total_cost': Decimal('14997.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 210.0, 'cost': Decimal('4935.00')},
    3: {'count': 360.0, 'cost': Decimal('4320.00')},
    4: {'count': 210.0, 'cost': Decimal('5355.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 30.0, 'cost': Decimal('240.00')},
    25: {'count': 6.0, 'cost': Decimal('147.00')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '1165': {'date': '11-Dec',
   'time': '12:44',
   'zone': 'MTP',
   'agent_name': 'A.KAM',
   'product_total_cost': Decimal('729.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 12.0, 'cost': Decimal('282.00')},
    3: {'count': 16.0, 'cost': Decimal('192.00')},
    4: {'count': 10.0, 'cost': Decimal('255.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2758': {'date': '11-Dec',
   'time': '12:53',
   'zone': 'MTP',
   'agent_name': 'ram b',
   'product_total_cost': Decimal('2138.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 20.0, 'cost': Decimal('470.00')},
    3: {'count': 20.0, 'cost': Decimal('240.00')},
    4: {'count': 36.0, 'cost': Decimal('918.00')},
    6: {'count': 10.0, 'cost': Decimal('510.00')},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2412': {'date': '11-Dec',
   'time': '01:10',
   'zone': 'MTP',
   'agent_name': 'P.Vai',
   'product_total_cost': Decimal('3002.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 44.0, 'cost': Decimal('1034.00')},
    3: {'count': 96.0, 'cost': Decimal('1152.00')},
    4: {'count': 22.0, 'cost': Decimal('561.00')},
    6: {'count': 5.0, 'cost': Decimal('255.00')},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '540': {'date': '11-Dec',
   'time': '01:11',
   'zone': 'MTP',
   'agent_name': 'JAYAS',
   'product_total_cost': Decimal('10292.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 120.0, 'cost': Decimal('2820.00')},
    3: {'count': 212.0, 'cost': Decimal('2544.00')},
    4: {'count': 180.0, 'cost': Decimal('4590.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 30.0, 'cost': Decimal('240.00')},
    25: {'count': 4.0, 'cost': Decimal('98.00')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2618': {'date': '11-Dec',
   'time': '01:12',
   'zone': 'MTP',
   'agent_name': 'M.PAL',
   'product_total_cost': Decimal('4450.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 10.0, 'cost': Decimal('235.00')},
    3: {'count': 160.0, 'cost': Decimal('1920.00')},
    4: {'count': 90.0, 'cost': Decimal('2295.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '1148': {'date': '11-Dec',
   'time': '01:12',
   'zone': 'MTP',
   'agent_name': 'PREMI',
   'product_total_cost': Decimal('5345.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 20.0, 'cost': Decimal('470.00')},
    3: {'count': 130.0, 'cost': Decimal('1560.00')},
    4: {'count': 130.0, 'cost': Decimal('3315.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2560': {'date': '11-Dec',
   'time': '01:17',
   'zone': 'MTP',
   'agent_name': 'A.Rah',
   'product_total_cost': Decimal('3324.50'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 0, 'cost': 0},
    3: {'count': 128.0, 'cost': Decimal('1536.00')},
    4: {'count': 67.0, 'cost': Decimal('1708.50')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 10.0, 'cost': Decimal('80.00')},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '318': {'date': '11-Dec',
   'time': '01:27',
   'zone': 'MTP',
   'agent_name': 'ZAHEE',
   'product_total_cost': Decimal('22942.50'),
   'ns': {1: {'count': 2.0, 'cost': Decimal('43.00')},
    2: {'count': 72.0, 'cost': Decimal('1692.00')},
    3: {'count': 384.0, 'cost': Decimal('4608.00')},
    4: {'count': 624.0, 'cost': Decimal('15912.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 40.0, 'cost': Decimal('320.00')},
    25: {'count': 15.0, 'cost': Decimal('367.50')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2314': {'date': '11-Dec',
   'time': '01:40',
   'zone': 'MTP',
   'agent_name': 'D SAT',
   'product_total_cost': Decimal('21764.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 96.0, 'cost': Decimal('2256.00')},
    3: {'count': 288.0, 'cost': Decimal('3456.00')},
    4: {'count': 552.0, 'cost': Decimal('14076.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 100.0, 'cost': Decimal('800.00')},
    25: {'count': 48.0, 'cost': Decimal('1176.00')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '626': {'date': '11-Dec',
   'time': '01:43',
   'zone': 'MTP',
   'agent_name': 'KALLA',
   'product_total_cost': Decimal('21769.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 160.0, 'cost': Decimal('3760.00')},
    3: {'count': 560.0, 'cost': Decimal('6720.00')},
    4: {'count': 300.0, 'cost': Decimal('7650.00')},
    6: {'count': 54.0, 'cost': Decimal('2754.00')},
    7: {'count': 80.0, 'cost': Decimal('640.00')},
    25: {'count': 10.0, 'cost': Decimal('245.00')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2338': {'date': '11-Dec',
   'time': '01:49',
   'zone': 'MTP',
   'agent_name': 'R SRI',
   'product_total_cost': Decimal('16902.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 48.0, 'cost': Decimal('1128.00')},
    3: {'count': 320.0, 'cost': Decimal('3840.00')},
    4: {'count': 468.0, 'cost': Decimal('11934.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '1124': {'date': '11-Dec',
   'time': '01:50',
   'zone': 'MTP',
   'agent_name': 'SENTH',
   'product_total_cost': Decimal('255.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 0, 'cost': 0},
    3: {'count': 0, 'cost': 0},
    4: {'count': 10.0, 'cost': Decimal('255.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2373': {'date': '11-Dec',
   'time': '01:53',
   'zone': 'MTP',
   'agent_name': 'R DEV',
   'product_total_cost': Decimal('1520.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 0, 'cost': 0},
    3: {'count': 0, 'cost': 0},
    4: {'count': 50.0, 'cost': Decimal('1275.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 10.0, 'cost': Decimal('245.00')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '535': {'date': '11-Dec',
   'time': '01:54',
   'zone': 'MTP',
   'agent_name': 'RAJAP',
   'product_total_cost': Decimal('11934.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 216.0, 'cost': Decimal('5076.00')},
    3: {'count': 240.0, 'cost': Decimal('2880.00')},
    4: {'count': 156.0, 'cost': Decimal('3978.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2254': {'date': '11-Dec',
   'time': '01:54',
   'zone': 'MTP',
   'agent_name': 'M SUB',
   'product_total_cost': Decimal('3049.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 5.0, 'cost': Decimal('117.50')},
    3: {'count': 74.0, 'cost': Decimal('888.00')},
    4: {'count': 77.0, 'cost': Decimal('1963.50')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 10.0, 'cost': Decimal('80.00')},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2352': {'date': '11-Dec',
   'time': '01:55',
   'zone': 'MTP',
   'agent_name': 'R.JEB',
   'product_total_cost': Decimal('5856.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 120.0, 'cost': Decimal('2820.00')},
    3: {'count': 100.0, 'cost': Decimal('1200.00')},
    4: {'count': 72.0, 'cost': Decimal('1836.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '2671': {'date': '11-Dec',
   'time': '01:59',
   'zone': 'MTP',
   'agent_name': 'MOHAM',
   'product_total_cost': Decimal('6372.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 0, 'cost': 0},
    3: {'count': 72.0, 'cost': Decimal('864.00')},
    4: {'count': 216.0, 'cost': Decimal('5508.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 0, 'cost': 0},
    25: {'count': 0, 'cost': 0},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '729': {'date': '11-Dec',
   'time': '02:04',
   'zone': 'MTP',
   'agent_name': 'KALYA',
   'product_total_cost': Decimal('7444.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 82.0, 'cost': Decimal('1927.00')},
    3: {'count': 174.0, 'cost': Decimal('2088.00')},
    4: {'count': 120.0, 'cost': Decimal('3060.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 40.0, 'cost': Decimal('320.00')},
    25: {'count': 2.0, 'cost': Decimal('49.00')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '336': {'date': '11-Dec',
   'time': '02:17',
   'zone': 'MTP',
   'agent_name': 'SHAJA',
   'product_total_cost': Decimal('5043.00'),
   'ns': {1: {'count': 0, 'cost': 0},
    2: {'count': 6.0, 'cost': Decimal('141.00')},
    3: {'count': 30.0, 'cost': Decimal('360.00')},
    4: {'count': 168.0, 'cost': Decimal('4284.00')},
    6: {'count': 0, 'cost': 0},
    7: {'count': 20.0, 'cost': Decimal('160.00')},
    25: {'count': 4.0, 'cost': Decimal('98.00')},
    10: {'count': 0, 'cost': 0},
    9: {'count': 0, 'cost': 0},
    8: {'count': 0, 'cost': 0},
    21: {'count': 0, 'cost': 0},
    23: {'count': 0, 'cost': 0},
    24: {'count': 0, 'cost': 0}},
   'ws': {}},
  '310': {'date': '11-Dec',
   'time': '02:19',
   'zone': 'MTP',
   'agent_name': 'NABIS',
   'product_total_cost': Decimal('3010.00'),
   'ns': {1: {'count': 0, 'cost': 0},

In [8]:
employee_trace_ids = list(CounterEmployeeTraceMap.objects.filter(counter_id=9, counteremployeetracesalegroupmap__sale_group__date=date).values_list('id', 'counteremployeetracesalegroupmap__sale_group'))      
len(employee_trace_ids)

74

In [9]:
employee_trace_sale_group_obj = list(
        CounterEmployeeTraceSaleGroupMap.objects.filter(
            counter_employee_trace_id__in=employee_trace_ids).values_list(
            'sale_group', flat=True))

147

841090